.container_dados_film{
    background: var(--bg-gradient);
    color: var(--white);
    border-radius: 10px;
    box-shadow: 8px 8px 15px #00000073;
    min-height: 500px;
    margin-top: 15px;
    font-family: var(--font-family-main);
}
.image_col{
    display: flex;
    flex-direction: column;
    margin: 30px auto auto auto;
    align-items: center;
}
.image_col img{
    max-height: 500px;
    max-width: 80%;
    border-radius: 15px;
}
.description{
    margin-top: 10px;
    font-size: 15px;
}
.rating{
    margin: 10px 30px;
}
.details_col{
    margin-top: 30px;
}
.details_col_title{
    font-size: 2rem;
    font-weight: 600;
}
.details_col_infos{
    display: flex;
    flex-direction: column;
}
.details_col_infos h3{
   margin-top: 20px;
   font-size: 15px;
   opacity: 0.6;
}
.details_col_info{
    padding: 5px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.11)
}
.details_col_info h5{
    font-weight: 500;
    margin-left: -5px;
    font-size: 15px;
}
.details_col_info p{
    font-weight: 200;
    font-size: 15px;
    margin-left: 10px;
}
