.container_page_counter{
    display: flex;
    align-items: center;
}
.container_page_counter_button{
    border: none;
    height: 30px;
    width: 50px;
    background-color: var(--purple);
    color:var(--white);
    border-radius: 5px;
    font-size: 15px;
    &:hover{
        transition: 300MS;
        border: none;
        height: 30px;
        width: 50px;
        background-color: #1111558a;
        color:var(--white);
        border-radius: 5px;
    }
}

.container_page_counter_dis{
    border: 1px solid var(--white);
    height: 30px;
    width: 50px;
    background-color: #111155a9;
    color:var(--white);
    border-radius: 5px;
    font-family: var(--font-family-main);
}

.container_page_counter_span button{
    border: 1px solid var(--white);
    height: 30px;
    width: 35px;
    background-color: #111155a9;
    color:var(--white);
    font-family: var(--font-family-main);
}

.container_page_counter_span_active button{
    border: 1px solid var(--white);
    height: 30px;
    width: 35px;
    background-color: #111155;
    color:var(--white);
    font-family: var(--font-family-main);
}