.post {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 500ms ease-in-out;
  }
  
  .post:hover {
    transform: scale(1.05);
  }
  /*transform: scale(1.05) rotate(-180deg);*/
  
  .post img {
    max-width: 100%;
  }
  
  .post-content {
    padding: 30px;
  }