.nav{
  background: #000;
  height:80px;
  display:flex;
  justify-content: space-between;
  padding:0.5rem calc((100vw - 1000px)/2);
  z-index:10;
}

.link{
  color:#fff;
  display:flex;
  align-items:center;
  text-decoration:none;
  padding:0 1rem;
  height:100%;
  cursor:pointer;
}
.link:active{
  color:red;
}
.icon{
   display:none;
   color:#fff;
}
.navmenu{
      display: flex;
      align-items: center;
      margin-right: -24px;
}
.navbtn{
  display: flex;
  align-items: center;
  margin-right: 24px;
}


@media screen and (max-width:768px){

  .icon{
  display:block;
  position: absolute;
  top:0;
  right: 0;
  transform: translate(-100%,75%);
  font-size: 1.8rem;
  cursor: pointer;
  }
  .navmenu{
    display: none;
  }
  .navbtn{
    display: none;
  }
}

/*
export const NavBtnLink = styled(Link)`
       border-radius: 4px;
       background:blue;
       padding: 10px 22px;
       color: #fff;
       border:none;
       outline:none;
       cursor: pointer;
       transition: all 0.2s ease-in-out;
       text-decoration: none;
       
       &.hover{
        transition: all 0.2s ease-in-out;
        background:#fff;
        color: orange;
       }
`

*/