.container-auths{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-family-main);
    color: var(--purple);
    padding: 10px;
}
.auths-options_r{
    background: var(--bg-gradient);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
}
.auths-options{
    background-color: transparent;
    color: var(--purple);
    padding: 10px;
    border-radius: 10px;
}

@media screen and (min-width:764px) {
    .container-auths{
        margin-right: 20px;
    }
}