.button{
    width: 100%;
    background: darkblue;
    color: aliceblue;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
}
.button:disabled{
    width: 100%;
    background: rgba(0, 0, 139, 0.288);
    color: aliceblue;
    border: none;
    padding: 15px 20px;
    cursor: not-allowed;
}
