.search_camp_container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 400px;
}
.field{
    grid-area: 1 / 1 / 2 / 6;
    padding: 5px;


}
.field_input{
    width: 95%;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-left: 10px;
}
.field_input::placeholder{
    opacity: 0.5;
    font-family: var(--font-family-main);
    font-size: 12px;
    padding-left: 10px;
    font-weight: 600;
}
/*.field_input:focus{
    padding-left: 0px;
    color:var(--purple);
    font-size: 12px;
    font-weight: 600;
    font-family: var(--font-family-main);
}*/
.btn{
    grid-area: 1 / 6 / 2 / 8;
    align-items: center;
    justify-self: center;
    margin-top:5px;
}
